<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Attività</title>
</head>
<body>
    <div>
    	<h4>Attività</h4>
		<div>
			<table>
				<tr>
					<th>Lista:</th>
				</tr>
				<tr th:each="attivita : ${activities}">
					<td><a th:href="@{'/attivita' + '/' + ${attivita.id}}">
					<span th:text="${attivita.nome}"></span></a></td>					
                </tr>
            </table>
   		</div>
    </div>
</body>
</html>
