<!DOCTYPE html>
<html lang="it">
<head>

<meta charset="utf-8">

<title>Progetto2017-2018 Siw Betti/Cavallaro</title>
<!--
Comila Template
http://www.templatemo.com/tm-490-comila
-->
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">

<!-- stylesheets css -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.min.css">

<link rel="stylesheet" href="css/et-line-font.css">
<link rel="stylesheet" href="css/font-awesome.min.css">

<link rel="stylesheet" href="css/vegas.min.css">
<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" type="text/css"
	href="css/styleFormConnessione.css">

<link
	href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700'
	rel='stylesheet' type='text/css'>

<style>
@import
	url('https://fonts.googleapis.com/css?family=Lato:400i|Exo+2:900i|Roboto:100')
	;
</style>
</head>
<body>
	<h1 class="logo">
		<img src="images/logo.png" alt="">
	</h1>
	<!-- preloader section -->
	<section class="preloader">
		<div class="sk-circle">
			<div class="sk-circle1 sk-child"></div>
			<div class="sk-circle2 sk-child"></div>
			<div class="sk-circle3 sk-child"></div>
			<div class="sk-circle4 sk-child"></div>
			<div class="sk-circle5 sk-child"></div>
			<div class="sk-circle6 sk-child"></div>
			<div class="sk-circle7 sk-child"></div>
			<div class="sk-circle8 sk-child"></div>
			<div class="sk-circle9 sk-child"></div>
			<div class="sk-circle10 sk-child"></div>
			<div class="sk-circle11 sk-child"></div>
			<div class="sk-circle12 sk-child"></div>
		</div>
	</section>

	<!-- home section -->
	<section id="home">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-2 col-md-8 col-sm-12">
					<div class="home-thumb">
						<h1 class="wow fadeInUp" data-wow-delay="0.4s">Beca Formation
							Center</h1>
						<h2 class="wow fadeInUp" data-wow-delay="0.4s">Benvenuto in
							azienda</h2>
						<h3 class="wow fadeInUp" data-wow-delay="0.6s">
							<b>Consulta i nostri centri di formazione professionale</b>
						</h3>
						<a href="#newCentro" data-toggle="modal" data-target="#modal1"
							class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs"
							data-wow-delay="0.8s">Accedi</a>
					</div>
				</div>

			</div>

			<!-- Scroll Down Anchor -->
			<section id="section04" class="demo">
				<a href="#foooter"><span></span></a>
			</section>

		</div>
	</section>


	<!-- footer section -->
	<footer>
		<section id="foooter">
			<div class="container">
				<div class="row">

					<svg class="svgcolor-light" preserveAspectRatio="none"
						viewBox="0 0 100 102" height="100" width="100%" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L50 100 L100 0 Z"></path>
      </svg>

					<div class="col-md-4 col-sm-6">
						<h2>comila template</h2>
						<div class="wow fadeInUp" data-wow-delay="0.3s">
							<p>Progetto di Sistemi Informativi su Web</p>
							<p class="copyright-text">
								Copyright &copy; 2018 Betti/Cavallaro <br> Designed by <a
									rel="nofollow" href="http://www.google.com/+templatemo"
									target="_parent">Templatemo</a>
							</p>
						</div>
					</div>

					<div class="col-md-1 col-sm-1"></div>

					<div class="col-md-4 col-sm-5">
						<h2>Università Roma Tre</h2>
						<p class="wow fadeInUp" data-wow-delay="0.6s">
							Dipartimento di Ingegneria<br> Via Vito Volterra, 62<br>
							Roma, RM, ITALIA
						</p>
					</div>

				</div>
			</div>
		</section>
	</footer>

	<!-- modal1 -->
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form action="@{/login}" method="post" >
						<div class="loginbox">
							<img src="images/download.png" class="avatar">
							<h1>Login</h1>
							<p>Username:</p>
							<input type="text" name="Username"  placeholder="Enter Username"/>
							<p>Password:</p>
							<input type="password" name="Password" 
								placeholder="Enter Password"/>
							<div></div>
							<div>
								<a href="/allievi">Entra</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- Back top -->
	<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

	<!-- javscript js -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script src="js/vegas.min.js"></script>

	<script src="js/wow.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/custom.js"></script>

</body>
</html>