<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Operazioni</title>
<!-- 		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
	</head>
	<body>
<!--		<div>
			<p th:text="Benvenuto!" />
		</div>
		<div>
			<a th:href = "@{/addAllievo}">Inserisci un nuovo Allievo</a>
		</div>
		<div>
			<a th:href = "@{/allievi}">Lista di tutti gli Allievi</a>
		</div>           -->
	</body>
</html>