<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Centro</title>
</head>
<body>
    <div>
    	<h4>Centro</h4>
		<div>
			Nome: <span th:text="${centro.nome}"></span>
   		</div>
		<div>
			Indirizzo: <span th:text="${centro.indirizzo}"></span>
   		</div>
		<div>
			Email: <span th:text="${centro.email}"></span>
   		</div>
   		<div>
			Telefono: <span th:text="${centro.telefono}"></span>
   		</div>
   		<div>
			Capienza Massima: <span th:text="${centro.capienzaMax}"></span>
   		</div>
   		<div><a th:href="@{/addAttivita}">Inserisci nuova attività</a></div>
   		<div><a th:href="@{/activities}">Mostra la lista delle attività</a></div>
   		<div><a th:href="@{/centri}">Torna alla lista dei centri</a></div>
    </div>
</body>
</html>