<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Attività</title>
</head>
<body>
    <div>
    	<h4>Attività</h4>
		<div>
			Nome: <span th:text="${attivita.nome}"></span>
   		</div>
		<div>
			Data e Ora: <span th:text="${attivita.dataOra}"></span>
   		</div>
   		<div><a th:href="@{/allievo}">Inserisci nuovo allievo</a></div>
   		<div><a th:href="@{/allievoList}">Mostra la lista degli allievi</a></div>
   		<div><a th:href="@{/attivitaList}">Torna alla lista delle attività</a></div>
    </div>
</body>
</html>